.App {
  text-align: center;
}

.App-header {
  background-color: #333333;
  height: 80px;
  padding: 20px;
  color: white;
  font-size: 1.5em;
}

footer {
  display: block;
  padding: 20px;
  background-color: #333333;
  color: white;
  font-size: 14px;
  letter-spacing: .06em;
}

/* --------------Nav Bar------------------- */



/* --------------disabled------------------- */

/*.App-intro {
  font-size: large;
  // was the <p></p> at the beginning
}*/


/* --------------logo animation------------------- */

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
